body{
    background-color: aliceblue
}

.Menu{
    background-color: rgba(0, 0, 0, 0.822);
    color: white;
}

.Header{
    width: 1040px;
    margin: auto;
    margin-top: 20px;
    box-sizing: border-box;
}

.PageHeader{
    display: inline-block;
}

/* Manager */
.continerAccount {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: grid;
    justify-content: center;
    align-items: center;
    margin: 150px;
    }